<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.devhadeskun.servicio"
      version="0.1.0">
    <name>Servicio</name>
    <description>Sample PhoneGap Service Plugin</description>
    <license>Apache 2.0</license>
    <keywords>phonegap,service</keywords>
 
 
    <js-module src="www/ServicioAndroid.js" name="Servicio">
        <clobbers target="window.servicio" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Servicio">
                <param name="android-package" value="org.devhadeskun.servicio.Servicio"/>
            </feature>
        </config-file>
 
        <source-file src="src/ServicioAndroid.java" target-dir="src/org/devhadeskun/servicio" />      
     </platform>          
</plugin>
